<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="sidebar-header">
                <a href="crt_nt.html" class="button btn-create">Создать заметку</a>
            </div>
            <div class="menu">
                <a href="#">Заметка №1</a>
                <a href="#">Заметка №2</a>
                <a href="#">Заметка №3</a>
                <a href="#">Заметка №4</a>
            </div>
        </div>
        <div class="content-container">
            <div class="content-header">
                <a href="#" class="button btn-update">Обновить заметку</a>
                <a href="#" class="button btn-delete">Удалить заметку</a>
            </div>
            <div class="content">
                <h3>ГЛАГНЕ!!1</h3>
                <img src="../../../../pythonProject/lessons/verstka/img/up4kman.gif">
            </div>

        </div>
    </div>
</body>
</html>